body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
:root {
  --gradiente: linear-gradient(to right, yellow, orange, orange, red, red);
  --gradienteLogo: linear-gradient(to right, red, red, orange, orange, yellow);
}
header {
  width: 100%;
  height: 110px;
  /* padding-bottom: 30px; */
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-around;
  /* border-bottom: 2px solid white; */
  flex-wrap: wrap;
  /* position: fixed; */
}

#logo {
  color: transparent;
  background-image: var(--gradiente);
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 32px;
  transition-property: background-image, font-size;
  transition-duration: 1.5s;
}

#logo:hover {
  background-image: var(--gradienteLogo);
  font-size: 40px;
}

.div {
  width: 1005;
  height: 500px;
  background-color: black;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  /* border-bottom: 2px solid white; */
}
#p_sobremim {
  color: rgb(255, 255, 255);
  /* background-color: wheat; */
  width: 500px;
  /* margin-right: 390px; */
}

.liLogo {
  display: inline-block;
  margin-left: 100px;
  border-radius: 5px;
  padding: 10px;
  transition-property: background-color, padding, color, border-radius;
  transition-duration: 500ms;
}
.liLogo:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 15px;
}
.rect {
  width: 650px;
  height: 500px;
  margin-bottom: 20px;
}
.title {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  /* border-bottom: 2px solid white; */
}

#p_proposta {
  width: 500px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  transition-property: background-color, padding, color, border-radius;
  transition-duration: 500ms;
  /* background-color: red; */
}
#links {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.pp {
  padding: 10;
  margin-bottom: 25px;
  transition-property: background-color, padding, color, border-radius,font-size;
  transition-duration: 500ms;
  margin-top: 15px;
}
.pp:hover {
  background-color: rgba(255, 255, 255, 0.26);
  color: black;
  border-radius: 5px;
  font-size: 22px;
  /* padding: 10px; */
}

::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: solid 2px white;
}

p {
  padding: 0;
  margin: 0;
}
#teste {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}
#churras {
  background-color: rgba(233, 160, 2, 0.844);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
}
#pixel {
  background-image: linear-gradient(to right ,red,blue);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
}
#amarelo {
  background-color: rgba(255, 255, 255, 0.568);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
}
#azul {
  background-color: rgba(4, 0, 255, 0.555);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.tec {
  display: inline-block;
  margin-left: 25px;
  border-radius: 5px;
  padding: 10px;
}
#tec {
  /* background-image: linear-gradient(to right, black,black,black,black,white);
   */
   background-color: black;
   border-radius: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
}

p {
  padding: 15px;
}
.linhabranca {
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

@keyframes animacao {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: calc(100% + 150px);
  }
}

.animado {
  width: 150px;
  border-radius: 1px;
  height: 6px;
  background-color: black;
  animation-name: animacao;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0, 0);
  animation-direction: reverse;
}
.animadoReverse {
  width: 150px;
  border-radius: 1px;
  height: 6px;
  background-color: rgb(0, 0, 0);
  animation-name: animacao;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-direction: normal;
}
.pixelP{
  background-image: linear-gradient(to right,red,blue);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.churrasP{
  background-image: linear-gradient(to right,rgba(233, 160, 2, 0.844),rgba(100, 68, 0, 0.844));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

