body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@keyframes animacao {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: calc(100% + 150px);
  }
}

html {
  scroll-behavior: smooth;
}
:root {
  --gradiente: linear-gradient(
    to right,
    white,
    white,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  --gradienteLogo: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.7),
    white,
    white
  );
}
header {
  width: 100%;
  height: 110px;
  /* padding-bottom: 30px; */
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-around;
  /* border-bottom: 2px solid white; */
  flex-wrap: wrap;
  /* position: fixed; */
}
#ctt {
  width: 60px;
  height: 60px;
  background-color: RGB(22, 27, 33);
  position: fixed;
  margin-top: 70vh;
  border-radius: 60px;
  display: flex;
  color: white;
  align-items: center;
  overflow: hidden;
  transition-property: width, border-radius;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0, 0);
  z-index: 10;
}

#ctt:hover {
  width: 300px;
  border-radius: 0px 40px 40px 0px;
}

#i {
  margin-left: calc(60px - 61.5px);
}

#logo {
  color: transparent;
  background-image: var(--gradiente);
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 32px;
  transition-property: background-image transform;
  transition-duration: 1.5s;
}

#logo:hover {
  background-image: var(--gradienteLogo);
  transform: scale(1.1);
}

.div {
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#prop2 {
  width: 500px;
  margin-left: 50px;
  padding: 20px;
}
#prop1 {
  width: 500px;
  align-self: flex-end;
  margin-right: 50px;
  padding: 20px;
}
.divv {
  height: 500px;
  width: calc(100% - 100px);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding: 50px;
}

#p_sobremim {
  color: rgb(255, 255, 255);
  width: 500px;
  /* margin-right: 390px; */
}
#sobre {
  display: flex;
  justify-content: space-evenly;
}

.liLogo {
  display: inline-block;
  margin-left: 100px;
  border-radius: 5px;
  padding: 15px;
  transition-property: background-color, padding, color, border-radius transform;
  transition-duration: 500ms;
  color: white;
}
.liLogo:hover {
  background-color: rgb(33, 33, 33);
  border-radius: 5px;
  transform: scale(1.1);
}
.rect {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}
.title {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  /* border-bottom: 2px solid white; */
}

#p_proposta {
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: red;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.pp {
  transition-property: transform box-shadow;
  transition-duration: 500ms;
}
.pp:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 30px 1px rgba(255, 255, 255, 0.44);
}

::-webkit-scrollbar {
  background-color: rgb(33, 33, 33);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.487);
}

p {
  padding: 0;
  margin: 0;
}
#teste {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

#techs{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  color: white;
  padding: 20px;
  /* background-color: red; */
  border: solid 2px rgba(255, 255, 255, 0.055);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #3f3f3f;
  margin-bottom: 50px;
  text-align: center;
}

.tec {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
}
#tec {
  /* background-image: linear-gradient(to right, black,black,black,black,white);
   */
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 20px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
  margin-bottom: 60px;
}

p {
  padding: 15px;
}
.linhabranca {
  background: rgb(33, 33, 33);
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.animado {
  width: 150px;
  border-radius: 30px;
  height: 8px;
  background-color: black;
  animation-name: animacao;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0, 0);
  animation-direction: reverse;
}
.animadoReverse {
  width: 150px;
  border-radius: 30px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  animation-name: animacao;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0, 0);
  animation-direction: normal;
}

#links {
  width: calc(100% - 20px);
  height: 600px;
  color: white;
  display: grid;
  /* justify-content: stretch; */
  /* align-content: stretch; */
  grid-template-areas:
    "d1 d1 d1 d1 d1"
    "d2 d2 d2 d2 d2"
    "d3 d3 d3 d4 d4"
    "d3 d3 d3 d4 d4"
    "d5 d5 d5 d4 d4";
  background-color: rgb(0, 0, 0);
  padding: 50px 10px 50px 10px;
  row-gap: 10px;
}
#d1,#d2,#d3,#d4,#d5{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 95%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#d1 {
  grid-area: d1;
  
}
#d2 {
  grid-area: d2;

}
#d3 {
  grid-area: d3;
}
#d4 {
  grid-area: d4;
}
#d5 {
  grid-area: d5;
}

.ppp {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0, 0);
  font-size: 25px;
}
.ppp:hover {
  transform: scale(1.1);
}
#fotominha {
  background-color: blue;
}
.churrasP {
  color: white;
}
.pixelP {
  color: white;
}
@media screen and (max-width: 850px) {
  ul {
    display: none;
  }
  #ctt {
    display: none;
  }
  .tecc {
    display: block;
  }
  #sobre {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  #prop1{
    width: 80%;
    margin-right: 0px;
  }
  #prop2{
    width: 80%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 650px) {
  #sobre {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-around;
    align-items: center;
  }
  .title {
    font-size: 3vw;
  }
  #p_sobremim {
    margin-top: -100px;
    width: 90%;
  }
  .rect {
    width: calc(80% - 20px);
  }
  .pixelP {
    font-size: 4vw;
  }
}
@media screen and (max-width: 500px) {
  .divv {
    font-size: 4vw;
  }
  #tec {
    font-size: 4vw;
  }
}
@media screen and (max-width: 400px) {
  .churrasP {
    font-size: 20px;
  }
  .title {
    font-size: 4vw;
  }
  #links {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: space-around;
  }
  .tecproj {
    font-size: 4vw;
  }
  .churrasP {
    font-size: 7vw;
  }
  .pixelP {
    font-size: 7vw;
  }
  .h2proj {
    font-size: 6vw;
  }
  .pproj {
    font-size: 4vw;
  }
  .rect {
    height: 130vw;
  }
  #img{
    width: 100%;
  }
  #fotominha {
    width: calc(100% - 20px);
    /* margin-top: -20%; */
  }
}
@media screen and (max-width: 300px) {
 #prop1{
   width:100%;
   border-radius: 0px;
   padding: 0;
 }
 .divv{
   width: 100%;
   align-items: flex-end;
   padding: 0;
   height: 200vw;
 }
 #prop2{
  width:100%;
  border-radius: 0px;
  padding: 0;
 }

  }
@media screen and (max-width: 250px) {
  .title {
  }
  #p_sobremim {
    font-size: 6.5vw;
    margin-bottom: -50%;
  }
  #logo {
    font-size: 14vw;
  }
  #sobre {
    justify-content: space-evenly;
    height: 300vw;
    align-items: center;
  }
  #fotominha {
    width: calc(100% - 20px);
    margin-top: -50%;
  }
  #img {
    width: 100%;
  }
  .churrasP {
    font-size: 6vw;
  }
  .pixelP {
    font-size: 6.5vw;
  }
  .rect {
    height: 100%;
  }
}
